// place your custom styles here

.vp-blog-mask {
        background: url('https://i.xiaofa520.cn') center center / cover no-repeat !important;
}

.vp-blog-mask::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 45%);
    pointer-events: none;
}

.custom-icon {
    fill: currentColor;
    color: var(--color-text);
}

[data-theme="dark"] .custom-icon {
    color: var(--color-text);
}